@media screen and (max-width: 1024px) {
div.nav { margin-top: 0; clear: right; }
div.daftarmasuk { margin-top: 0; margin-bottom: 7px; }
}

@media screen and (max-width: 890px) {
div.wrapper h1 { float: none; text-align: center; }
div.nav { float: left; margin-top: 20px; clear: none; }
div.daftarmasuk { margin-top: 22px; margin-bottom: 0; }
}

@media screen and (max-width: 600px) {
div.wrapper h1 { float: none; text-align: center; font-size: 9vw; }
div.nav { float: left; margin-top: 20px; clear: right; }
div.daftarmasuk { margin-top: 22px; margin-bottom: 0; }
}